<!--Configure the robots urdf-->

<launch>

	<group ns="robot_0">
		<include file="$(find autocar)/urdf/display_SCOT.launch"/>
		<param name="tf_prefix" value="robot_0" />
	</group>
  
	<group ns="robot_1">
		<include file="$(find autocar)/urdf/display_SCOT.launch"/>
		<param name="tf_prefix" value="robot_1" />
	</group>
  
    <group ns="robot_2">
		<include file="$(find autocar)/urdf/display_SCOT.launch"/>
		<param name="tf_prefix" value="robot_2" />
    </group>

    <node pkg="rviz" type="rviz" name="rviz" />

</launch>

